extends base

block content
  main.main
    .card-container
    
      each course in courses
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/courses/${course.imageCover}`, alt=`${course.name}`)
            h3.heading-tertirary
              span= course.name

          .card__details
            h4.card__sub-heading= `${course.difficulty}`
            p.card__text= course.summary

          .card__footer
            p
              span.card__footer-value= `$${course.price}`
            p.card__ratings
              span.card__footer-value= course.ratingsAverage
              | 
              span.card__footer-text= `rating (${course.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/course/${course.slug}`) Details